<%
=begin%>
 <h1 class="text-lg text-center font-bold m-5">Editar contacto</h1> 
<%
=end%>

<%= render 'form', friend: @friend %>

<%
=begin%>
 <%= link_to 'Mostrar', @friend %> |
<%= link_to 'Volver', friends_path %> 
<%
=end%>
