<div class="flex flex-col space-y-4 min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-gray-900">
<div class="flex flex-col p-8 bg-white shadow-md hover:shodow-lg rounded-2xl">
	<div class="flex items-center justify-between">
		<div class="flex items-center">

			<div class="flex flex-col ml-3">
				<div class="font-medium leading-none"> 
				<%= notice %> <br/>
				<div class="text-center mt-6">
				<button class="py-3 w-64 text-xl text-white bg-purple-400 rounded-2xl">
				<%= link_to "Listo", friends_path, class:"font-semibold text-white text-lg" %>
				</button>
				</div>
				</div>

			</div>
		</div>

	</div>
</div>